@CHARSET "ISO-8859-1";
.slider{
	
	width:720px;
	height:400px;
	overflow:hidden;
	margin:30px auto;
}
.shadow{
	background-image:url(image/four.png);
	background-repeat:no-repeat;
	background-position:top;
	width:86px;
	height:144px;
	margin:-60px auto;
}
